<form class="signup-login-form" (ngSubmit)="login(username.value, password.value)">
  <div class="form-title">
    <mat-icon class="tab-icon">lock</mat-icon><br/>
    <span class="form-title-text">Login</span>
  </div>
  <div class="input-group">
       <mat-form-field class="input-field" appearance="outline">
         <input matInput placeholder="Username or Email" [formControl]="userEmailOrUsername"
           [errorStateMatcher]="matcher" #username>
         <mat-error *ngIf="!userEmailOrUsername.hasError('required')">
           Please enter an email address or username
         </mat-error>
         <mat-error *ngIf="userEmailOrUsername.hasError('required')">
           Email is <strong>required</strong>
         </mat-error>
       </mat-form-field><br />
       <mat-form-field class="input-field" appearance="outline">
         <input matInput type="password" placeholder="Password" [formControl]="userPassword"
           [errorStateMatcher]="matcher" #password>
         <mat-error *ngIf="userPassword.hasError('required')">
           Password is <strong>required</strong>
         </mat-error>
       </mat-form-field>

  </div>
    <mat-error class="login-response" *ngIf="!noAuthError && !errorResponse">
      Invalid <strong>Username</strong> or <strong>Password</strong>
    </mat-error>

    <div class="login-submit">
      <button type="submit"><span *ngIf="!isLoading">Login</span>
        <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
      </button>
      
    </div>

</form>
