<app-header></app-header>
<main>
  <section class="content">
    <div class="hero-content">
      <p class="hero-content-header">Your Library Anywhere</p>
      <p class="hero-content-text"><q>Your genuine action will explain itself, and will explain your other genuine actions. Your conformity explains nothing... </q></p>
      <p class="hero-content-text-large">Ralph Waldo Emerson</p>
      <button class="hero-content-signup" (click)="openDialog('signup')">Register</button>
    </div>
    <div class="hero-image">

    </div>
  </section>
</main>
