/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Open+Sans&display=swap');
@import '~@angular/material/theming';
@include mat-core();

$theme_color: #77d3b4;
$theme-primary: mat-palette($mat-purple);
// Accent colour
$theme-accent: mat-palette($mat-green, A200, A100, A400);

$app-theme: mat-light-theme($theme-primary, $theme-accent);
@include angular-material-theme($app-theme);

$theme_color: #77d3b4;
$white: #F0FFF0;
$a_font_size: 1.6rem;
$theme_font_family: 'Open Sans', serif;
$black: #191919;

@mixin  flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
@mixin logo {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
}
@mixin centralise {
  justify-content: center;
  align-items: center;
}
@mixin button {
  font-family: $theme_font_family;
  background-color: $theme_color;
  color: $white;
  padding: 1rem 1.5rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
  cursor: pointer;
  &:hover {
    color: black;
    opacity: 0.9;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .3);
  }
}
* {
  box-sizing: border-box
}

html {
  font-size: 62.5%;
  font-family: $theme_font_family;
  height: 100%;
}

body { height: 100%; margin: 0; }

.homepage-modalClass .mat-dialog-container {
  background-color: $white;
}

.homepage-modalClass .signup-login-form {
  font-family: $theme_font_family;
  .form-title {
    @include flex;
    flex-direction: column;
    @include centralise;
    .form-title-text,
    .tab-icon {
      font-size: 2rem;
      color: $black;
    }
  }
  .input-group {
    @include flex;
    flex-direction: column;
    @include centralise;
    margin-top: 2rem;
    // .mat-form-field-ripple {
    //   background-color: rgb(14, 13, 13);
    // }

    .input-field {
      width: 90%;
      font-size: 1.3rem;
      font-family: $theme_font_family;
    }
    .input-group-names {
      @include flex;
      justify-content: space-between;
      padding: 0;
      width: 90%;
      .input-field{
        width: 45%;

      }
    }
  }
  .login-submit {
    button {
      @include button;
      margin: 2rem 0 0 2.5rem;
      width: 100px;
      font-size: 1.5rem;
      border: 0;

    }
  }

}
